.code {
  /* border: 1px solid #eeeeee; */
}

.code-item {
  border: 1px solid #eeeeee;
  height: 182px;
  padding: 4px 4px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.code-item + .code-item {
  margin-top: 0.5em;
}

.item-header {
  border-bottom: 1px solid #eeeeee;
  display: flex;
  align-items: center;
}

.item-header > img {
  height: 30px;
}

.item-header > h4 {
  white-space: nowrap;
  line-height: 1.2em;
  margin-left: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-descri {
  overflow: hidden;
  flex: 1;
  border-bottom: 1px solid #eeeeee;
}

.item-footer {
  padding: 10px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
