.navbar {
  background-color: #ffffff;
  font-size: 1.2em;
  border: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #e7e7e7;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}
