.navbar {
  background-color: #ffffff;
  font-size: 1.2em;
  border: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #e7e7e7;
}

.navbar-header > a {
  font-weight: bold;
}

.user > a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.user > a > img {
  width: 30px;
  height: 30px;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}
