.directive {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  margin-top: 0.5em;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.directive > h5 {
  background-color: #b2b2b2;
  padding: 8px 10px;
  margin: 0px 0px;
  color: #ffffff;
  border-radius: 8px 8px 0px 0px;
}

.directive-enters {
  border-radius: 0px 0px 8px 8px;
  flex: 1;
  background-color: #000000;
}
