.article {
  border: 1px solid #eeeeee;
  height: auto;
  padding: 4px 4px;
  border-radius: 8px;
}

.article > h3 {
  background-color: #eeeeee;
  margin: 0px;
  padding: 4px 4px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article > .info {
  display: flex;
  flex-direction: row;
}

.article > .info > img {
  width: 52px;
  height: 52px;
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.author > ul {
  list-style: none;
  padding: 0px;
}

.author > ul > li {
  display: inline-block;
}

.author > ul > li + li {
  margin-left: 1em;
}

.collect {
  border-top: 1px solid #eeeeee;
  font-size: 1.5em;
  display: flex;
  padding-top: 1em;
  flex-direction: row;
  justify-content: space-between;
}

.like {
  border: 1px solid #ea6f5a;
  color: #ea6f5a;
  border-radius: 25px;
  padding: 4px 4px;
  width: 180px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.like > span {
  height: 30px;
}

.like > span:nth-of-type(1) {
  padding-right: 0.5em;
}

.like > span:nth-of-type(2) {
  border-left: 1px solid #ea6f5a;
  padding-left: 0.5em;
}

.enjoy {
  list-style: none;
  padding: 0px;
  display: flex;
  font-size: 1.5em;
}

.enjoy > li {
  width: 50px;
  height: 50px;
  border: 1px solid #eeeeee;
  border-radius: 50%;
  text-align: center;
}
