.th-book {
  /* background-image: linear-gradient(
    to top right,
    #a8d8b9,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #877f6c
  ); */
  height: 182px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25em 0.25em;
  justify-content: flex-start;
}

.th-book > img {
  border-radius: 4px;
  width: 115px;
  height: 172px;
}

.th-book > img + div {
  margin-left: 4px;
}

.th-book > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
}

.th-madol {
  background-color: #ffffff;
  position: absolute;
  z-index: 10;
  top: 2.5em;
  right: 15px;
  width: 300px;
  box-shadow: 5px 5px 20px #e7e7e7, 5px -5px 20px #e7e7e7, -5px 5px 20px #e7e7e7,
    -5px -5px 20px #e7e7e7;
  transform: scale(0);
  opacity: 0;
  transform-origin: center center;
  transition: opacity 1s ease-in, transform 1s;
}

.th-madol > h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
}

.th-madol > p {
  padding-left: 4px;
  height: 150px;
  overflow-y: auto;
}

.trigger:hover + .th-madol {
  opacity: 1;
  transform: scale(1);
}

.th-madol:hover {
  opacity: 1;
  transform: scale(1);
}

.th-madol > p::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

.th-madol > p::-webkit-scrollbar-thumb {
  background-color: #a8d8b9;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}
.th-madol > p::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #ededed;
}

@media screen and (max-width: 479px) {
  .th-madol {
    transform: translate(-50%) scale(0);
    left: 50%;
  }

  .trigger:hover + .th-madol {
    opacity: 1;
    transform: translate(-50%) scale(1);
  }

  .th-madol:hover {
    opacity: 1;
    transform: translate(-50%) scale(1);
  }
}
