/* alert */
.link-alart {
  background-color: #000;
  position: fixed;
  z-index: 10000;
  bottom: 1.5em;
  color: #fff;
  width: 250px;
  padding: 20px 10px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

/* error */
.e-error {
  height: 364px;
}

/* image */

.e-image > img {
  width: 182px;
}

.e-image > div {
  background-color: #eeeeee;
  width: 182px;
  padding: 4px 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* item */
.e-item + .e-item {
  border-top: 1px solid #f4f5f6;
}

.e-item {
  padding: 10px 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.e-item > div:nth-of-type(1) {
  height: 45px;
}

.e-item > div:nth-of-type(1) > strong {
  font-size: 1.25em;
}

.e-item > div:nth-of-type(1) > ul > li + li {
  margin-left: 0.5em;
}

.e-item > strong {
  border-radius: 4px;
  text-align: center;
  line-height: 45px;
  color: #eeeeee;
  width: 45px;
  background-color: #007fff;
}

/* loading */
.link-loading {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

/* repository */

.e-repository {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  padding: 4px 4px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.e-repository + .e-repository {
  margin-top: 1em;
}

.e-repository > div {
  border-bottom: 1px solid #eeeeee;
  display: flex;
  align-items: center;
}

.e-repository > div > img {
  height: 30px;
}

.e-repository > div > h4 {
  white-space: nowrap;
  line-height: 1.2em;
  margin-left: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.e-repository > p {
  overflow: hidden;
  flex: 1;
  text-indent: 2em;
  border-bottom: 1px solid #eeeeee;
}
