@import '../../styles/func.scss';

/* alert */
.alart {
  background-color: #000;
  position: fixed;
  z-index: 10000;
  bottom: 1.5em;
  color: #fff;
  width: 250px;
  padding: 20px 10px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

// blockquote

.blockquote {
  margin: 0em 0em 0.5em 0em;
  border-left: 5px solid #337ab7;
}

// error
.error {
  @include container;
  height: 364px;
}

// evaluate

.evaluate {
  background-color: #ffffff;
  padding: 4px 4px;
  display: flex;
  flex-direction: row;

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5em 0.5em;

    header {
      ul {
        margin: 0.5em 0em 0em 0em;
      }
    }

    p {
      margin: 0.5em 0em 0em 0em;
    }
  }
}

/* image */

.image {
  img {
    width: 182px;
  }

  div {
    background-color: #eeeeee;
    width: 182px;
    padding: 4px 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* item */
.e-item + .e-item {
  border-top: 1px solid #f4f5f6;
}

.item {
  padding: 10px 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div {
    display: block;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h4 {
      font-weight: bold;
      font-size: 1.25em;
    }

    ul {
      @include ul;

      li + li {
        margin-left: 0.5em;
      }
    }
  }

  strong {
    border-radius: 4px;
    text-align: center;
    line-height: 45px;
    color: #eeeeee;
    width: 45px;
    background-color: #007fff;
  }
}

/* loading */
.loading {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

// repository
.repository {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  padding: 4px 4px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  div {
    border-bottom: 1px solid #eeeeee;
    display: flex;
    align-items: center;
    padding: 4px 0px;

    img {
      height: 30px;
    }

    h4 {
      white-space: nowrap;
      line-height: 1.2em;
      margin-left: 0.5em;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  p {
    overflow: hidden;
    flex: 1;
    text-indent: 2em;
    border-bottom: 1px solid #eeeeee;
  }

  ul {
    @include ul;
  }
}

.repository + .repository {
  margin-top: 1em;
}
