.image {
  background-image: url('http://www.bootcss.com/p/layoutit/img/2.jpg');
  height: 182px;
  border-radius: 8px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.description {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  opacity: 0.75;
  color: #ffffff;
  transition: opacity 1s ease-in-out;
}

.works {
  background-color: #3c3c3c;
  opacity: 0.5;
  width: 50px;
  height: 50px;
  color: #ffffff;
  border-radius: 25px 25px 25px 8px;
  transition: width 1s ease-out, border-radius 1s;
}

.works::before {
  display: block;
  position: absolute;
  content: '';
  margin: 12.5px;
  border-radius: 12.5px;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
}

.works > ul {
  list-style: none;
  font-size: 1.2em;
  padding: 0px 0px;
  height: 50px;
  opacity: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: rotateX(90deg);
  transition-delay: 1s;
  transition: opacity 1s ease-in-out, transform 0.25s;
}

.works:hover {
  width: 100%;
  border-radius: 0px 0px 8px 8px;
}

.works:hover::before {
  opacity: 0;
}

.works:hover > ul {
  opacity: 1;
  width: 100%;
  transform: rotateX(0deg);
}

.works > ul > li {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 125px;
  white-space: nowrap;
}

.works > ul > li + li {
  margin-left: 0.5em;
}

.works > ul > li > i + span {
  margin: 0.5em;
}
