.expander {
  line-height: 2em;
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.madol {
  background-color: #ffffff;
  position: absolute;
  z-index: 10;
  top: 2.5em;
  right: 15px;
  width: 300px;
  padding: 4px 4px;
  border-radius: 8px;
  border: 1px solid #e7e7e7;
  box-shadow: 5px 5px 20px #e7e7e7, 5px -5px 20px #e7e7e7, -5px 5px 20px #e7e7e7,
    -5px -5px 20px #e7e7e7;
  transform: scale(0);
  opacity: 0;
  transform-origin: center center;
  transition: opacity 1s ease-in, transform 1s;
}

.madol > h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
}

.madol > p {
  padding-left: 4px;
  height: 150px;
  overflow-y: auto;
}

.expander > span:hover + .madol {
  opacity: 1;
  transform: scale(1);
}

.madol:hover {
  opacity: 1;
  transform: scale(1);
}

.madol > p::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}

.madol > p::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a8d8b9;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

.madol > p::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #ededed;
}
