.color > div:nth-of-type(1) {
  /* background-image: url('https://hbimg.b0.upaiyun.com/1297cdfefdbf0d8b8d7d4b5f1f6fba61849c6aa4105705-8AmDp7'); */
  float: left;
  opacity: 0.8;
  border-top-right-radius: 80%;
  border-bottom-left-radius: 80%;
  width: 300px;
  height: 300px;
  background-color: #f3a9ab;

}

.color > div:nth-of-type(2) {
  display: block;
  width: 300px;
  height: 300px;
  background-color: #f3a9ab;
  border-top-left-radius: 80%;
  border-bottom-right-radius: 80%;
  transform-origin: 100% 0 0;
  transform: scale(0.76);
  opacity: 0.8;
}
