@font-face {
  font-family: 'linksystem';
  src: url('linksystem.eot?u0prpu');
  src: url('linksystem.eot?u0prpu#iefix') format('embedded-opentype'),
    url('linksystem.ttf?u0prpu') format('truetype'),
    url('linksystem.woff?u0prpu') format('woff'),
    url('linksystem.svg?u0prpu#linksystem') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='inspiration-'],
[class*=' inspiration-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'linksystem' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inspiration-fork:before {
  content: '\e918';
}
.inspiration-star:before {
  content: '\e919';
}
.inspiration-mail:before {
  content: '\e91d';
}
.inspiration-message:before {
  content: '\e91e';
}
.inspiration-tip:before {
  content: '\e91f';
}
.inspiration-search:before {
  content: '\e91c';
}
.inspiration-time:before {
  content: '\e91b';
}
.inspiration-qr-code:before {
  content: '\e911';
}
.inspiration-refrush:before {
  content: '\e912';
}
.inspiration-catalog:before {
  content: '\e913';
  color: #555;
}
.inspiration-back:before {
  content: '\e914';
}
.inspiration-more:before {
  content: '\e915';
}
.inspiration-right:before {
  content: '\e916';
}
.inspiration-terminal:before {
  content: '\e917';
}
.inspiration-add:before {
  content: '\e91a';
}
.inspiration-heart:before {
  content: '\e90e';
}
.inspiration-notes:before {
  content: '\e90f';
}
.inspiration-enjoy:before {
  content: '\e910';
}
.inspiration-question:before {
  content: '\e90d';
}
.inspiration-link:before {
  content: '\e90c';
}
.inspiration-type:before {
  content: '\e90b';
}
.inspiration-github:before {
  content: '\e900';
}
.inspiration-qq:before {
  content: '\e901';
  color: #30a5dd;
}
.inspiration-weibo:before {
  content: '\e902';
  color: #ea5d5c;
}
.inspiration-wechat:before {
  content: '\e903';
  color: #50b674;
}
.inspiration-columns:before {
  content: '\e904';
}
.inspiration-bold:before {
  content: '\e905';
}
.inspiration-bookmark:before {
  content: '\e906';
}
.inspiration-code:before {
  content: '\e907';
}
.inspiration-collection:before {
  content: '\e908';
}
.inspiration-italic:before {
  content: '\e909';
}
.inspiration-title:before {
  content: '\e90a';
}
.inspiration-location:before {
  content: '\e948';
}
