.th-article > h4 {
  border-bottom: 1px solid #eeeeee;
  margin-top: 0;
  padding: 0.5em 0;
}

.th-article > p {
  position: relative;
  text-indent: 2em;
  height: 300px;
  overflow-y: auto;
  /* text-decoration-style: double;
  text-decoration-color: #000000;
  text-decoration-line: underline; */
}

.th-article > p > canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
